<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>NIDHITYA ENTERPRISES</title>
     <link rel = "icon" href = "Stamp.PNG" type = "image/x-icon">
<link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  p {
   margin-left:5em;
   margin-right:5em;
  }
h3 { margin-left:2.9em;}

</style>

    <!-- Bootstrap -->
 <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body>

      <!--top navbar starts-->
        <nav class="top-bar py-4 navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="row">
        <div class="col-sm-8 hidden-xs">
            <span class="nav-text">
               <i class="fa fa-phone" aria-hidden="true"></i>  +91-9820032226 
                <i class="fa fa-phone" aria-hidden="true">+91-8433542496</i>
                <i class="fa fa-envelope top-massage" aria-hidden="true"></i>enterprisesnidhitya@gmail.com</span>
            </div>
           
       <div class="col-sm-4 text-right">
            <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
            
            <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </div>
        </div>
      </div>
    </nav>   <!--TOP-NAVBAR-END-->
    
<br>
<!--====================== NAVBAR MENU START===================-->
    <div class="bg-nav">
   <div class="container">
     <div class="row">
        <div class="col-sm-2">
           <a class="navbar-brand" th:href="https://pristinegituhub.github.io/website_nidhitya/home">
           <img src="Stamp.PNG" width="100" height="100">
           </a>
        </div>
        <div class="col-sm-10">
       <!-- <nav class="navbar py-4 navbar-expand-md bg-info navbar-dark">  -->
       <nav class="navbar py-4 navbar-expand-lg navbar-light bg-light">
     <!-- Brand -->
  <a class="navbar-brand" th:href="https://pristinegituhub.github.io/website_nidhitya/home">Home</a>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="https://pristinegituhub.github.io/website_nidhitya/aboutus">About Us</a>
       </li>
      </ul>
  </div>
    
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" th:href="https://pristinegituhub.github.io/website_nidhitya/products">Products</a>
	       </li>
	      </ul>
	  </div>
<!-- 	  	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/image/Stamp.PNG">FAQ</a>
	         <a class="nav-link" href="image/test.pdf" target="_blank">
	         <span><i class="fa fa-file-pdf" style="font-weight:bold"></i> Catalogue</span></a>
	       </li>
	      </ul>
	  </div> -->
	  
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" th:href="https://pristinegituhub.github.io/website_nidhitya/contact/new">Contact Us</a>
	      </li>
	      </ul>
	  </div>

</nav>
        </div>
     </div>
   </div>
</div>

<!--====================== NAVBAR MENU ENDS===================-->  
<br><br>
<br><br>


<div class="container">
<h3 style="color:blue; left:1000px;"> Who we are! </h3>
<br>
<div class="row">

<div class="col-sm-6 col-md-6 col-xs-12">
	<img th:src="ankur1.jpg" alt="founder" width="400" height="350" />
</div>
<div class="col-sm-6 col-md-6 col-xs-12">
<p>
Welcome to Nidhitya Enterprises website! We are committed to providing high-quality, 
innovative products that support and enhance the learning experience for students of all ages and abilities.
</p>
<p>Nidhitya Enterprises has been serving hundreds of schools and their students, with educational supplies that meet 
the highest standards of excellence. 
Today, as one of the well-known firm, we are committed to delivering innovative products of inestimable value to young learners and educational institutions alike.
</p>
<p>
We owe our success to our Founder and entire team whose hard work and dedication has delivered the excellence and have created a name in across India.
</p>
</div>
<p>
Our team is comprised of educators, designers, and technology experts who are passionate about creating tools and resources that 
help teachers and students succeed. We are dedicated to staying up-to-date with the latest research and trends in education 
to ensure that our products are always relevant and effective.
</p>

<p>
Whether you're looking for <b><i>notebooks, backpacks, diary, drawing books, technology tools or any other educational supply</i></b>, 
we have everything you need to create an engaging and effective learning environment. 
We take pride in the quality of our products, and we stand behind every item that we sell. 
We believe that education is the foundation of a successful future, 
and we are honored to play a small role in helping students reach their full potential.
</p>
<br>

<h3 style="color:blue; left:1000px;"> Our Vision</h3>
<p>
Delivering Educational Excellence. Qaulity products and Happy young learners along with educational institutions.</p>
<br>

<h3 class = "text-left:200px" style="color:blue;"> Our Mission</h3>

<p>
Our company was founded on the belief that education is the key to unlocking the potential of every individual. 
We understand that every student has unique needs and learning styles, which is why we offer a wide range of educational 
supplies that cater to different learning styles and abilities.
</p>

<br><br><br>
</div>
</div>
<!-- ############FOOTER STARTS ############################ -->

  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0096FF">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Products</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Awards</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">FAQ</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Nidhitya Enterprises has been serving hundreds of schools and their students since 40+ years 
              with educational supplies that meet the highest standards of excellence. </p>
              <p>
              Today, as one of the well-known firm, we are committed to delivering innovative products of inestimable value to 
              young learners and educational institutions alike.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->
   	
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      ©2023 Copyright:
      <a class="text-white" href="#"
         >Nidhitya Enterprises</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
<!-- ############FOOTER ENDS ############################ -->
</body>
</html>

