<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>NIDHITYA ENTERPRISES</title>
     <link rel = "icon" href = "/image/Stamp.PNG" type = "image/x-icon">
<link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>

    <!-- Bootstrap -->
 <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body>

      <!--top navbar starts-->
       <nav class="top-bar py-4 navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="row">
        <div class="col-sm-8 hidden-xs">
            <span class="nav-text">
                <i class="fa fa-phone" aria-hidden="true"></i>  +91-9820032226 
                <i class="fa fa-phone" aria-hidden="true">+91-8433542496</i>
                <i class="fa fa-envelope top-massage" aria-hidden="true"></i>enterprisesnidhitya@gmail.com</span>
            </div>
           
       <div class="col-sm-4 text-right">
            <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
            
            <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </div>
        </div>
      </div>
    </nav>   <!--TOP-NAVBAR-END-->
    
<br>
<!--====================== NAVBAR MENU START===================-->
    <div class="bg-nav">
   <div class="container">
     <div class="row">
        <div class="col-sm-2">
           <a class="navbar-brand" th:href="@{/home}">
           <img src="image/Stamp.PNG" width="100" height="100">
           </a>
        </div>
        <div class="col-sm-10">
       <nav class="navbar py-4 navbar-expand-lg navbar-light bg-light">
 
     <!-- Brand -->
  <a class="navbar-brand" th:href="@{/home}">Home</a>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/aboutus}">About Us</a>
       </li>
      </ul>
  </div>
    
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/products}">Products</a>
       </li>
      </ul>
  </div>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/contact/new}">Contact Us</a>
      </li>
      </ul>
  </div>

</nav>
        </div>
     </div>
   </div>
</div>

<!--====================== NAVBAR MENU ENDS===================-->  
<br><br>
<!--###################### Product line starts ########################-->
<!-- <h1 class="text-center"> WORKING ON THIS PAGE </h1> -->
		<div class="container">
			<div class="col-sm-12 col-md-12 col-xs-12">
	         <p>
	        We have everything you need to create an engaging and effective learning environment. 
	        We are dedicated to staying up-to-date with the latest research and trends in education to ensure that our products are always relevant and effective.
	        </p>
	       <p style="color:green; font-size:30px;">
	        Some of our feature products are: 
	        </p>
	        </div>
        </div><br><br>

 <div class="container">
   <div class="row">
     <div class="col-sm-6 col-md-6 col-xs-12">
        <h3 class="about-line" style="color:blue";> Kids Bag</h3>
         <p>
        	Introducing our durable and stylish school bag for kids! Made from high-quality nylon material, this bag is designed to withstand the wear and tear of daily use while keeping your child's school supplies organized and secure.
			The bag features a spacious main compartment that can easily fit textbooks, notebooks, and folders. There is also a front pocket with several compartments to hold pens, pencils, calculators, and other small items. Two side pockets provide ample space for water bottles, snacks, or other personal items.
			The shoulder straps of the bag are padded and adjustable to ensure a comfortable fit for your child. Additionally, the bag has a sturdy handle at the top for easy carrying. The bag also features reflective strips on the front and sides for added safety during low-light conditions.
			With its colorful and fun design, this school bag is sure to be a hit with kids of all ages. 
        </p>
        <p>It's perfect for school, field trips, and other outdoor activities. 
        Order yours today and get your child ready for a successful school year!</p>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
			<img th:src="@{/image/gallery/bag1.webp}" alt="bag" width="450" height="450" /><br>
		</div>
     </div>
	</div>
	<br>
	<div class="container">
   <div class="row">
   	  <div class="col-sm-6 col-md-6 col-xs-12">
		<img th:src="@{/image/gallery/dairy4.jpg}" alt="bag" width="350" height="350" /><br>
	</div>
     <div class="col-sm-6 col-md-6 col-xs-12">
        <h3 class="about-line" style="color:blue";>School Diary</h3>
         <p>
        	Our customized school diary is the perfect tool for students to stay organized and on top of their academic goals.
        	With its high-quality paper and durable cover, this diary is designed to withstand daily use throughout the school year. 
        </p>
        <p>
	        The diary can be customized with your child's name, grade level, and school logo, making it a unique and personal item that your child will love to use. 
	        Inside, the diary features daily and weekly planning pages, allowing students to keep track of assignments, exams, and other important events.
        </p>
        <p>Order yours today and help your child stay organized and motivated throughout the school year!</p>
        </div>
     </div>
	</div>
	<br>
   	<div class="container">
   <div class="row">
     <div class="col-sm-6 col-md-6 col-xs-12">
        <h3 class="about-line" style="color:blue";>NoteBooks</h3>
         <p>
        	Introducing our high-quality notebook, perfect for students of all ages! Made from durable materials and designed for optimal functionality,
        	 this notebook is an essential tool for academic success. 
			The notebook features high-quality paper that is smooth and easy to write on, making it ideal for note-taking, drawing, and other classroom activities. 
			The pages are securely bound together, ensuring that they won't fall out or become disorganized. 
			
		</p>
        <p>
	        The notebook comes in a variety of sizes and colors, allowing you to choose the perfect option to fit your child's needs and personality. 
        </p>
        <p>Whether your child needs a notebook for math class, language arts, or any other subject, our notebook is the perfect choice. 
        Order yours today and give your child the tools they need to succeed in the classroom and beyond!</p>
        </div>
          <div class="col-sm-6 col-md-6 col-xs-12">
			<img th:src="@{/image/gallery/notebook5.jpg}" alt="bag" width="350" height="370" /><br>
		</div>
     </div>
	</div>
	<br>
	<div class="container">
   <div class="row">
   	     <div class="col-sm-6 col-md-6 col-xs-12">
			<img th:src="@{/image/gallery/drawingbook4.jpg}" alt="bag" width="450" height="340" /><br>
		</div>
     <div class="col-sm-6 col-md-6 col-xs-12">
        <h3 class="about-line" style="color:blue";>DrawingBooks</h3>
         <p>
			Our high-quality drawing book is the perfect tool for students who love to express their creativity through art.
			Made with heavy-weight paper and a durable cover, this drawing book is designed to withstand the wear and tear of daily use.
			The drawing book comes in a variety of sizes and cover designs, allowing you to choose the perfect option to fit your child's needs and personality. 
			Some drawing books also include additional features such as a built-in elastic band to keep the book closed and a pocket in the back cover to store art supplies.
			
		</p>
         <p>
         	Whether your child is an aspiring artist or simply enjoys doodling in their spare time, our drawing book is the perfect choice. 
			Order yours today and help your child unleash their creativity!
        </p>
        </div>
     </div>
	</div>
	<br>
<div class="container">
   <div class="row">
     <div class="col-sm-6 col-md-6 col-xs-12">
        <h3 class="about-line" style="color:blue";>Tie Belt-Badge</h3>
			<p>
			Our Tie, belt-badge is the perfect accessory for students who wear uniforms to school. Made from high-quality materials, this badge is designed to attach securely to the student's belt or waistband, adding a stylish touch to their uniform.
			</p>
			<p>
			The badge features a classic Tie design, complete with the school's emblem or logo. The emblem is securely embedded into the badge, ensuring that it won't come loose or fall off.
			The Tie belt-badge is available in a variety of colors and finishes, allowing you to choose the perfect option to match your child's uniform. It's also easy to attach and remove, making it convenient for students to wear and use on a daily basis.
			<p>
			<p>
			Whether your child attends a school with a strict dress code or simply wants to add a touch of personality to their uniform, our TIE belt-badge is the perfect choice. Order yours today and give your child the confidence to succeed in the classroom and beyond!
			</p>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
			<img th:src="@{/image/gallery/Tie1.jpg}" alt="bag" width="450" height="200" />
			<img th:src="@{/image/gallery/bellt-badge.jpg}" alt="bag" width="450" height="200" />
		</div>
     </div>
</div>
<br>
	
<!--###################### Product line Ends ########################-->
<br><br>
<!-- ############FOOTER STARTS ############################ -->

  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #0096FF">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Products</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Awards</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">FAQ</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#" class="text-white">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              Nidhitya Enterprises has been serving hundreds of schools and their students since 40+ years 
              with educational supplies that meet the highest standards of excellence. </p>
              <p>
              Today, as one of the well-known firm, we are committed to delivering innovative products of inestimable value to 
              young learners and educational institutions alike.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->
   	
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href="#"
         >Nidhitya Enterprises</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
<!-- ############FOOTER ENDS ############################ -->
</body>
</html>

